.test{
  color:red !important;
}
.loadingFrame{
  background-image: url("../assets/800_3524060_6c7af3ec65ac5ab7a357ffbd76e22444bc1ec2e7_comic-book-halftone-background-vintage-superheroes-comics-poster-back.jpg");
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top{
  flex: 1;
}

body{
  background: url("../assets/istockphoto-1158826021-170667a.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.yellowText{
  color: yellow !important;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: red;
  font-size: 100px;
  color: yellow;
}
.blackBox{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.comicSpace{
  display: flex;
}
.center{
flex: 5;
}
.sides{
  flex:1;
}


