.textBtn{
  background-color: rgb(55,111,150);
  height: fit-content;
  align-self: center;
  padding: 16px;
  font-size: xx-large;
 }

 .textBtn:hover{
  background-image: linear-gradient(to bottom right, rgb(0, 174, 255), rgb(0, 255, 234));
 }


 .iconBtn{
  background-color: rgb(55,111,150);
  height: fit-content;
  align-self: center;
  border-radius: 20%;
  padding: 12px;
}

.iconBtn:hover{
  background-image: linear-gradient(to bottom right, rgb(0, 174, 255), rgb(0, 255, 234));
 }