.cardbox{
  width: 300px;
  max-height: 400px;
  margin: 10px;
  display: inline-table;
}
.cardTextArea{
  height: 100px !important;
  overflow: hidden !important;
}

.cardbox:hover{
  cursor: pointer;
}