

.flexContainer{
  display: flex;
  flex-direction: column;
  margin: 45px 10px 10px;
}
@media only screen and (min-width: 900px) {
  .flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .comicCard{
    border:none !important;
    max-height: none !important;
  }

  .cardColumn{
    display: none !important;
  }

  .comicCover{
    width: fit-content !important;
  }

  .comicCard img {
    width: 100%;
  }
}

.comicCard{
  padding: 10px;
  display: flex;
  flex-direction: row;
  max-height: 100px;
  border-bottom: rgb(83, 83, 83) 1px solid;
}


.comicCover{
  /* flex: 1; */
  overflow: hidden;
  border-radius: 24px;
  width: 100px;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding-left: 8px;
  min-width: 0;
}
.noResults{
  display: flex;
  flex-direction: column;
  flex: 3;
  padding-left: 8px;
  min-width: 0;
}

.cardColumn div{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: darkgray;
}

.comicCard img {
  width: 100%;
}
.comicCard h4 {
  font-weight: 400;
  color: white;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}